@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
}

*::selection {
    background-color: #0f141e;
    color: #fff;
}

h1 {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    margin-top: 2%;
}

header {
    width: 700px;
    margin: auto;    
    font-family: 'Comfortaa', cursive;
    display: flex;
    flex-direction: column;
}

.volume {
    width: 265px;
    margin: auto;
}

.timer {
    width: 265px;
    border: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.678);
    outline: none;
    padding: 15px 0 10px;
    margin-bottom: 2%;
    margin: auto;
    text-align: center;
    font-family: inherit;
}

.buttons {
    margin: auto;
}

.start {
    width: 100px;
    padding: 10px 15px;
    font-size: .7rem;
    text-align: center;
    border: none;
    font-family: inherit;
    background-color: #0f141e;
    color: #fff;
    cursor: pointer;
    transition: all .9s;
    margin: auto;
}

.start:hover {
    width: 100px;
    padding: 10px 15px;
    border: 1px solid #0f141e;
    font-family: inherit;
    background-color: #fff;
    color: #0f141e;
    cursor: pointer;
    transition: all .9s;
}

h1, .timer, .start {
    margin-bottom: 3%;
}

.main {
    margin: auto;
    margin-top: 4%;
}

.info {
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: center;
}

.count {
    font-family: 'Comfortaa', cursive;
    display: none;
    align-items: center;
}

.time {
    font-family: 'Comfortaa', cursive;    
    width: 48px;
    height: 50px;
    text-align: center;
    align-items: center;
    padding: 0 5px;
    margin-right: 24%;
    display: none;
}

.gOver {
    font-family: 'Comfortaa', cursive;
    color: red;
    display: none;
    align-items: center;
}

.game {
    border: 1px solid black;
    width: 700px;
    height: 400px;        
    margin: auto;
}

@media screen and (max-width: 1000px) {
    .game {
        width: 300px;
        height: 100px;
    }

    header {
        width: 300px;
    }
}

.square {
    z-index: 100;
    display: none;
    cursor: pointer;
    margin: 0;
    position: relative;
    width: 8px;
    height: 8px;
    background-color: rgb(255, 51, 0);
}

.backdrop {
    width: 700px;
    height: 400px;
    opacity: 0;
    margin-bottom: 5px;
}

.form__error {
    color: red;
    text-align: left;
    font-size: 12px;
    display: block;
    margin-top: 3px;
    display: none;
  }

  .disabled {
    width: 100px;
    padding: 10px 15px;
    font-size: .7rem;
    text-align: center;
    border: none;
    font-family: inherit;
    background-color: gray;
    color: white
  }

  footer {
    display: flex;
    background-color: #0f141e;
    bottom: 0;
    color: #fff;
    height: 100px;
    width: 700px;
    margin: auto;
    margin-top: 7.8%;
  }  

  .copyright {
    display: flex;
    font-family: 'Comfortaa', cursive;
    align-items: center;
    margin: auto;
  }

  .copyright span::selection {
    background-color: #fff;
    color:#0f141e;
  }
  
.success, .normal, .failed {
    background-color: white;
    border: 1px solid black;
    color: black;
    height: 80px;
    width: 700px;    
    margin: auto;
    margin-top: .5%;
    display: none;
    font-family: inherit;
}

@media screen and (max-width: 1000px) {
    
    footer, .success, .normal, .failed {
        width: 300px;        
    }

    footer, .info {
        font-size: .7rem;
    }

    .success, .normal, .failed {
        font-size: .5rem;
    }
    
  }

.success {
    text-align: center;
}
    .success p {
        display: flex;
        align-items: center;
        margin: auto;
    }
    

.failed {
    text-align: center;
}
    .failed p {
        display: flex;
        align-items: center;
        margin: auto;
    }

    .failed .advice {
        display: flex;
        align-items: center;
        margin: auto;
    }

.normal {    
    text-align: center;
}
    .normal p {
        display: flex;
        align-items: center;
        margin: auto;
    }

    .normal .advice {
        color: red;
        display: flex;
        align-items: center;
        margin: auto;
    }

